/*RESET*/
*{
    margin: 0;
    padding: 0;
}

/*PADRÕES*/
:root {
    --radius-small: 5px;
    --radius-medium: 10px;
    --radius-large: 20px;
    --radius-round: 50%;

    --color-one: #fffffe;
    --color-two: #3da9fc;
    --color-two-hover: #2098f3;
    --color-three: #094067;
    --color-three-hover: #053a5f;
    --color-four: #5f6c7b;
    --color-five: #90b4ce;
    --color-six: #f0f0f0;
    --color-seven: #cacaca;

    --weight-light: 300;
    --weight-normal: 400;
    --weight-strong: 600;
    --weight-bold: 700;
    --weight-black: 900;
}

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', Sans-serif;
}

p {
    font-size: 1rem; 
    font-weight: var(--weight-normal);
    margin-bottom: 1rem;
    color: var(--color-four);

    text-align: justify;
    text-justify: inter-word;
}

a {
    text-decoration: none;
}

nav {
    height: 10vh;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

footer {
    height: 10vh;

    display: flex; 
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap; 
}

input {
    box-sizing: border-box;
    height: 5vw;
    padding: 0.2rem 1rem;
    margin-bottom: 1rem;
    border: 3px solid var(--color-two);
    border-radius: var(--radius-small);

    text-decoration: none;
    text-align: left; 
    font-family: 'Montserrat', Sans-serif;
    font-weight: var(--weight-strong);
    font-size: 1rem;

    color: var(--color-three);
    background-color: var(--color-one);
}

input:focus {
    transition: 0.5s;
    outline: none;
    border-color: var(--color-two-hover);
    border-radius: var(--radius-small); 
}

input[type=submit] {
    color: var(--color-one);
    border-color: var(--color-two);
    cursor: pointer;
    text-align: center;
    font-size: 1.2rem;
    font-weight: var(--weight-black);
}

input[type=submit]:hover {
    background-color: var(--color-two-hover);
    border-color: var(--color-two-hover);
}

::placeholder {
    font-weight: var(--weight-strong);
    color: var(--color-five);
}

section {
    width: 100%;
}

h1, h2 {
    color: var(--color-three);
}

label {
    font-size: 1.5rem;
    font-weight: var(--weight-bold);
    color: var(--color-four);
}

h2 {
    font-size: 2rem;
    font-weight: var(--weight-bold);
}

h3 {
    font-size: 1.5rem;
    font-weight: var(--weight-bold);
}

.bg-one {
    background-color: var(--color-one);
}

.bg-two {
    background-color: var(--color-two);
}

.color-one {
    color: var(--color-one);
}

.color-four {
    color: var(--color-four);
}

.open {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1100px;
    width: calc(100% - 10rem);
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.logo {
    max-height: 50%;
}

.partner {
    height: 2rem;
    padding-right: 2rem;
}

.social {
    padding-left: 1rem;
}

.menu-links, .footer-partner, .footer-dev {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.menu-links a {
    color: var(--color-one);
    padding: 0 2rem;
}

.title {
    font-family: 'Ubuntu', Sans-serif;
    font-size: 5rem;
    font-weight: var(--weight-bold);
    line-height: 0.9;
    margin-bottom: 2vw;
}

.subtitle {
    font-family: 'Ubuntu', Sans-serif;
    font-size: 1.5rem;
    font-weight: var(--weight-normal);
}

.section-welcome {
    align-self: center;
    max-width: 1400px;
    box-sizing: border-box;
    padding: 2rem;

    background-image: url('../img/bg-welcome.png');
    background-size: auto; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center bottom;

    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
}

.welcome-card {
    max-width: 560px;
    text-align: left;
}

.welcome-form input {
    height: 70px;
    width: 100%;
}

.section-welcome img {
    max-height: 500px;
    object-fit: contain;
}

.section-skills {
    display: flex;
    flex-direction: column;
    align-items: center;

    box-sizing: border-box;
    padding: 1vw;
}

.container-skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    box-sizing: border-box;
    padding: 1vw;
    max-width: 1200px;
}

.container-skills item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center;
    flex: 20%;

    border-radius: var(--radius-medium);
    margin: 1%;
}

.container-skills item label {
    margin-top: 1rem;
}

.container-skills item img {
    max-width: 70%;
    object-fit: contain;
    vertical-align: middle;
    box-sizing: border-box;
    padding: 10%;
}

.container-skills item img:hover {
    transform: scale(1.2);
}

.section-diff {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    box-sizing: border-box;
    padding: 1vw;
}

.diff-card {
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: flex-start;
    max-width: 1100px;
    margin: 5vh 0;
}

.diff-card img {
    flex-grow: 1;

    padding: 0 3rem;
    max-width: 350px;
    height: auto;
}

.diff-card .diff-content {
    flex-grow: 2;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

}

.diff-content label {
    margin-bottom: 1rem;
}

@media only screen and (max-width: 799px) {
    .section-welcome {
        max-width: 100%;
        background-position: right bottom;

        flex-direction: column;
        align-items: flex-start;
    }

    .welcome-card {
        max-width: 100%;
        text-align: left;
    }
    
    .welcome-form input {
        height: 5rem;
        width: 100%;
    }
    
    .section-welcome img {
        max-width: 100%;
    }

    input[type=submit] {
        font-size: 1rem;
    }

    .title {
        font-size: 3rem;
    }
    
    .subtitle {
        font-size: 1.3rem;
    }

    .label {
        font-size: 1rem;
    }

    .container-skills {
        flex-direction: row;
        align-items: stretch;
        padding: 1rem;
        max-width: 100%;
    }

    .container-skills item {
        flex: 40%;
        margin: 2%;
    }

    .diff-card {
        flex-direction: column;
    
        justify-content: center;
        align-items: flex-start;
        max-width: 1100px;
        margin: 2rem;
    }

    .diff-card img {
        max-width: 100%;
        padding: 0;
        margin-bottom: 1rem;
    }

    footer {
        height: auto;
        justify-content: flex-start;
        flex-direction: column;
    }

    .menu-links, .footer-partner{
        flex-direction: column;
        align-items: center;
    }
    .partner {
        padding: 0;
        margin: 0.5rem 0;
    }
}