/*RESET*/
*{
    margin: 0;
    padding: 0;
}

/*PADRÕES*/
:root {
    --radius-small: 5px;
    --radius-medium: 10px;
    --radius-large: 20px;
    --radius-round: 50%;

    --color-one: #fffffe;
    --color-two: #3da9fc;
    --color-three: #094067;
    --color-three-hover: #053a5f;
    --color-four: #5f6c7b;
    --color-five: #90b4ce;
    --color-six: #f0f0f0;
    --color-seven: #cacaca;

    --weight-light: 300;
    --weight-normal: 400;
    --weight-strong: 600;
    --weight-bold: 700;
    --weight-black: 900;

    --width-max-welcome: 35rem;
}

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', Sans-serif;
}

p {
    font-size: 1rem; 
    font-weight: var(--weight-normal);
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
}

footer {
    height: 12vh;
    padding: 2vh;
    text-align: center;
    color: var(--color-one);   
    background-color: var(--color-two);
}

input {
    box-sizing: border-box;
    height: 4rem;
    padding: 0.2rem 1rem;
    margin-bottom: 1rem;
    border: 2px solid var(--color-one);
    border-radius: var(--radius-small);

    text-decoration: none;
    text-align: left; 
    font-family: 'Montserrat', Sans-serif;
    font-weight: var(--weight-strong);

    color: var(--color-one);
    background-color: transparent;
}

input:focus {
    transition: 0.5s;
    outline: none;
    border: 2px solid var(--color-one);
    border-radius: var(--radius-small); 
}

input[type=submit] {
    color: var(--color-one);
    border-color: var(--color-three);
    background-color: var(--color-three);
    cursor: pointer;
    text-align: center;
    font-size: 1.2rem;
    font-weight: var(--weight-black);
}

input[type=submit]:hover {
    background-color: var(--color-three-hover);
    border-color: var(--color-three-hover);
}

section {
    height: 100vh;
    width: 100%;
}

item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center;
    flex: 20%;

    background-color: var(--color-two);
    border-radius: var(--radius-medium);
    margin: 1%;
}

item img {
    width: 70%;
}

.title {
    color: var(--color-one);
    font-family: 'Ubuntu', Sans-serif;
    font-size: 6rem;
    font-weight: var(--weight-bold);
    line-height: 0.9;
    margin-bottom: 2rem;
}

.subtitle {
    font-family: 'Ubuntu', Sans-serif;
    color: var(--color-six);
    font-size: 1.5rem;
    font-weight: var(--weight-normal);
    margin-bottom: 2rem;
}

.headline {
    color: var(--color-three);
}

.paragraph {
    color: var(--color-four);
}

.section-welcome {
    background-color: var(--color-two);
    /*background-image: linear-gradient(to bottom, #90b4ce, #fffffe);*/
    /*background-image: url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right bottom;*/

    display: grid;
    column-gap: 2rem;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "welcome-card welcome-illustration"
}

.welcome-card {
    width: 95%;
    max-width: var(--width-max-welcome);
    text-align: left;

    grid-area: welcome-card;
    justify-self: end;
    align-self: end;
}

.welcome-form input {
    width: 100%;
    float: right;
}

.welcome-illustration {
    grid-area: welcome-illustration;
    justify-self: start;
    align-self: end;
}

.welcome-illustration img {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
}

.section-skills {
    display: flex;
    flex-direction: column;
    align-items: center;

    box-sizing: border-box;
    padding: 1rem;
}

.container-skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    box-sizing: border-box;
    padding: 1rem;
    max-width: 1200px;
}

::placeholder {
    font-weight: var(--weight-strong);
    color: var(--color-six);
}
